<html>
  <body>

    <script type='script/template' id='entry-template'>
      <p>Title: <%- title %></p>
      <p>Body: <%- body %></p>
      <button>Edit</button>
    </script>

    <div id='entry'>
    </div>

    <script type='text/javascript' src='lib/jquery.js'></script>
    <script type='text/javascript' src='lib/underscore.js'></script>
    <script type='text/javascript' src='lib/backbone.js'></script>
    <script type='text/javascript' src='lib/marionette.js'></script>
    <script type='text/javascript' src='main.js'></script>
  </body>
</html>
